{% extends 'base.html' %}

{% block main%}
<div class="container">
<section id="event-form" class="container-fluid">
    <h3 class="font-weight-bold display-3">
      Create New Event
    </h3>
    <form id="eventForm" method="POST">
        {{ form.csrf_token }}
        <div class= "form-group col w-50 mb-2">
            {{ form.title.label}}
            {{ form.title(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.start_date.label}}
            {{ form.start_date(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.end_date.label}}
            {{ form.end_date(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.description.label}}
            {{ form.description(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.venue.label}}
            {{ form.venue(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.websiteurl.label}}
            {{ form.websiteurl(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.group_id.label}}
            {{ form.group_id(class='form-control') }}
        </div>
        <div class= "form-group col w-50 mb-2">
            {{ form.images.label}}
            {{ form.images(class='form-control') }}
        </div>
        <button type="submit" class="btn btn-success mb-5">Submit</button>
    </form>
</section>
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $(window).ready(function() {
        $("#eventForm").submit(function(event){
            console.log('here')
            event.preventDefault();  //prevent form from submitting
            let eventForm = document.getElementById("eventForm");
            let form_data = new FormData(eventForm);

            fetch("http://127.0.0.1:8079/api/events", {
                method: 'POST',
                headers : {
                    'Accept': 'application/json',
                    'Authorization': "Bearer " + getCookie('token')
                },
                body: form_data
            }).then(function (response) {        
                if(response.status == 409 || response.status == 500){
                    alert("An error occured")
                } else if (response.status == 201){
                    response.json().then((data) => {
                        alert("Event Created.")
                        console.log(data);
                    })
                } else if (response.status == 401){
                    response.json().then((data) => {
                        alert("Unauthorized.")
                        console.log(data);
                    })
                }
            });

    });
});

function getCookie(name) {
    const value = `; ${document.cookie}`;
    const parts = value.split(`; ${name}="`);
    if (parts.length === 2) return parts.pop().split(';"').shift().slice(0, -1);
}
</script>
{% endblock %}