{% extends 'base.html' %}

{% block main%}
<div class="container">
    <section id="login-form" class="container-fluid">
        <h3 class="font-weight-bold display-3">
          Login
        </h3>
        <form id="loginform" action="{{url_for('login_page')}}" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col w-25 mb-2">
                    {{ form.email.label}}
                    {{ form.email(class='form-control') }}
                </div>
                <div class="col w-25 mb-2">
                    {{ form.password.label}}
                    {{ form.password(class='form-control') }}
                </div> 
            </div>
            <button type="submit" class="btn btn-success mb-2">Login</button>
        </form>
    </section>
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $( window ).ready(function() {
        $("#loginform").submit(function(event){
            event.preventDefault();  //prevent form from submitting
            let data = $("#loginform :input").serializeArray();

            post_data = { "email": data[1].value, "password": data[2].value }

            $.ajax({
                url: 'http://127.0.0.1:8079/api/auth/login',
                type: 'POST',
                data: JSON.stringify(post_data),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                async: false,
                success: function(result) {
                    document.cookie = "token="+JSON.stringify(result.token);
                    alert("Login Succesful")
                    window.location.replace('http://127.0.0.1:8079/')

                }
            });

            

        });

    });
</script>
{% endblock %}