{% extends 'base.html' %}

{% block main%}
<div class="container">
    <section id="login-form" class="container-fluid">
        <h3 class="font-weight-bold display-3">
          Login
        </h3>
        <form action="/api/auth/login" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col w-25">
                    {{ form.email.label}}
                    {{ form.email }}
                </div>
                <div class="col w-25">
                    {{ form.password.label}}
                    {{ form.password }}
                </div> 
            </div>
            <button type="submit" class="btn btn-success">Login</button>
        </form>
    </section>
</div>
{% endblock %}