 
{% extends "base.html" %}

{% block main %}
<div class="container">
    <section id="register-form" class="container-fluid">
        <h3 class="font-weight-bold display-3">
          Register New User
        </h3>
        <form action="/api/register" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col w-25">
                    {{ form.first_name.label}}
                    {{ form.first_name }}
                </div>
                <div class="col w-25">
                    {{ form.last_name.label}}
                    {{ form.last_name }}
                </div> 
            </div>
            <div class="form-row">
                <div class="col w-15">
                    {{ form.password.label}}
                    {{ form.password }}
                </div>
                <div class="col w-15">
                    {{ form.confirm.label}}
                    {{ form.confirm }}
                </div>
                <div class="col w-25">
                    {{ form.email.label}}
                    {{ form.email }}
                </div>
            </div>
            <div class="form-row">
                <div class="col w-50">
                    <input type="file" name="profile_photo" >
                    {{ form.profile_photo.label}}
                    {{ form.profile_photo }}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Register</button>
        </form>
    </section>
</div>
{% endblock %}