 
{% extends "base.html" %}

{% block main %}
<div class="container">
    <section id="register-form" class="container-fluid">
        <h3 class="font-weight-bold display-3">
          Register New User
        </h3>
        <form action="/api/register" method="POST" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-row">
                <div class="col w-50 mb-2">
                    {{ form.first_name.label}}
                    {{ form.first_name(class='form-control') }}
                </div>
                <div class="col w-50 mb-2">
                    {{ form.last_name.label}}
                    {{ form.last_name(class='form-control') }}
                </div> 
            </div>
            <div class="form-row">
                <div class="col w-50 mb-2">
                    {{ form.password.label}}
                    {{ form.password(class='form-control') }}
                </div>
                <div class="col w-50 mb-2">
                    {{ form.confirm.label}}
                    {{ form.confirm(class='form-control') }}
                </div>
                <div class="col w-50 mb-2">
                    {{ form.email.label}}
                    {{ form.email(class='form-control') }}
                </div>
            </div>
            <div class="form-row">
                <div class="col w-50 mb-5">
                    {{ form.profile_photo.label}}
                    {{ form.profile_photo(class='form-control') }}
                </div>
            </div>
            <button type="submit" class="btn btn-success mb-2">Register</button>
        </form>
    </section>
</div>

<!-- Jquery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script>
    $( window ).ready(function() {
        $("#register-form").submit(function(event){
            event.preventDefault();  //prevent form from submitting
            let data = $("#register-form :input").serializeArray();

            console.log(data);

            let prof_photo =  document.getElementById('profile_photo');

            prof_photo = prof_photo.files;

            var formData = new FormData();
            formData.append('first_name', data[1].value);
            formData.append('last_name', data[2].value);
            formData.append('email', data[5].value);
            formData.append('password', data[3].value);
            formData.append('profile_photo', prof_photo[0], prof_photo[0].name);
            

            $.ajax({
                url: 'http://127.0.0.1:8079/api/register',
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,
                async: false,
                success: function(result) {
                    console.log(result)
                    alert("Register Succesful")

                }
            });


        });

    });
</script>
{% endblock %}