{% extends 'navbar.html' %}

{% block css%}
<link rel="stylesheet" href="{{url_for('static', filename='css/404.css')}}">
{% endblock %}


{% block main %}
<body>
    
    <p class="glitch"> <span aria-hidden="true">404</span> <span aria-hidden="true">404</span> 404</p>
    
    <p>This isn't the page your looking for</p>        

</body>
{% endblock %}

<!-- {% extends "base.html" %}

{% block title %}Page Not Found{% endblock %}

{% block css %}
<style type="text/css">
  body{
    padding-top: 40px;
  }
  h1, p{
    text-align:center;
  }
  h1{
    font-size:64px;
    margin:75px 0 50px;
  }
  p{
    font-size:24px;
    margin:15px 0;
  }
</style>
{% endblock %}

{% block main %}
<h1>404</h1>
<p>That page doesn't even exist.</p>
<p>Why don't you just <a href="{{ url_for('home') }}">go back home</a>?</p>
{% endblock %} -->